@mixin TouchCalendarSimpleEvents{
	.touch-calendar-view 
	{

		td
		{
			position: relative;
		
			span.simple-event-wrapper, span.simple-event-wrapper-multi
			{
				position: absolute;
				overflow: hidden;
			}
	
			span.simple-event-multi
			{
				float: left;
				height: 5px;
				width: 5px;
				-webkit-border-radius: 5px;
				background-color: #FFF; //#00aeef;
				margin:2px auto 0 0px;
			}
	
			span.simple-event
			{
				height: 2px;
				width: 2px;
				-webkit-border-radius: 2px;
				background-color: #FFF; //#00aeef;                             
				margin: 0 auto;                           
				display: block;
			}
	
			.selected span.simple-event, td.today span.simple-event
			{
				background-color: #FFF;
			}
		}	
	}
}