/*
 * Originally written by Ondrej Jirman <megous@megous.com>
 *
 * Rewritten into SASS/Compass by Codier, 2012
 * Rewritten to match Reckon requirement
 */
.rmcalendar {
  color: #646464;
  background-color: #FFFFFF;
  width: 100%;
  padding: 2px; }
.rmcalendar table {
  width: 100%;
  position: relative;
  table-layout: fixed;
  font-size: 20px; }
.rmcalendar tbody tr.selected {
  border: 2px solid #465460; }
.rmcalendar td {
  height: 38px;
  position: relative;
  text-align: center;
  vertical-align: middle; }
.rmcalendar td.today {
  font-weight: bold; }
.rmcalendar td.hasdata {
  color: #00BD9D; }
.rmcalendar td.unselectable {
  color: #89909A; }
.rmcalendar td.today.selected {
  font-weight: bold; }
.rmcalendar td.prevmonth, .rmcalendar td.nextmonth {
  color: #89909A; }
.rmcalendar thead th {
  font-size: 12px;
  vertical-align: bottom;
  font-weight: bold;
  padding-bottom: 3px;
  color: #646464;
  text-align: center;
  height: 62px;
  /*&.goto-prevyear {
    background: url(../images/larr.png) center center no-repeat;
    background-size: 7px;
    cursor: pointer;
  }*/
  /*&.goto-nextyear {
    background: url(../images/rarr.png) center center no-repeat;
    background-size: 7px;
    cursor: pointer;
  }*/ }
.rmcalendar thead th.goto-prevmonth {
  background: url(../images/icons/rm-btn-back-arrow.svg) no-repeat;
  background-position-x: 20%;
  background-position-y: 8px;
  background-size: 12px;
  cursor: pointer; }
.rmcalendar thead th.goto-nextmonth {
  background: url(../images/icons/rm-btn-arrow.svg) no-repeat;
  background-position-x: 80%;
  background-position-y: 8px;
  background-size: 12px;
  cursor: pointer; }
.rmcalendar thead th .month-year-label {
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  left: 30%;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 40%;
  z-index: 999; }
