@mixin TouchCalendarView{
        #swipePanelId{z-index:0}
	.touch-calendar-view
	{
	$bd-color: #A3A7AF;
	$date-bg-color: #cfced3;

	table
	{
		width: 100%;
		//border-collapse: separate;
		table-layout: fixed;
		/*font-size: 20px;*/
		color: #ffffff;
		background-color: #4e4e4e;
		
		&.week
		{
			td
			{
				vertical-align: top;
			}		
		}
		
		&.day
		{
			td
			{
				&.time-block
				{
					text-align: left;
					background-image: none;
					font-size: 0.7em;
					height: 32px;
				}
			}
		}
	}
	
	// borders
	tbody
    {
		td
		{
			border: 1px solid #787878;
		}
	}

	// cell styles
	td
	{
		font-weight: normal;
		position: relative;
		text-align: center;
		vertical-align: middle;
		/*font-size: 1.3em;*/
        color: #FFFFFF;
		background-color: #606060;
		/*@include background-gradient($date-bg-color, 'recessed');*/

		&.today
		{
			//border: 1px solid #ffffff;
			//@include border-radius(4px);
            background-color: #C00000;
		}
		&.today:before{
			//content : '|';
		}
		&.weekend
		{
			background-color: #606060;
		}

		&.unselectable
		{
			color: #89909A;
			@include background-gradient(darken(#d8b7bb, 6%), 'recessed');
		}

		&.selected
		{
			//border: 1px solid #ffffff;
			//@include border-radius(4px);
            background-color: #323232;
		}

		&.today.selected
		{
			//border: 1px solid white;
			//@include border-radius(4px);
            background-color: #C00000;
		}

		&.prev-month, &.next-month
		{
			color: #6E6E6E;
            background-color: #4E4E4E;
		}
		
		&.prev-month.selected, &.next-month.selected
		{
			color: #FFFFFF;
            background-color: #323232;
		}
 	}
 	
	thead
	{
		/*@include background-gradient($date-bg-color, 'matte');*/
		background:#4e4e4e;
	
		th
		{
			font-size: 9px;
			vertical-align: bottom;
			padding-bottom: 3px;
			color: #dcdcdc;
			text-align: center;
			height: 15px;
			font-weight: normal;
            text-transform: uppercase;
		}
            tr#touchcalendernav th {
                height: 46px;
				text-transform: capitalize;
				&:nth-child(1)
					{
						background: url(../images/larr.svg) center center no-repeat;
                        background-size: 8px;
						cursor: pointer;
					}
				&:nth-child(5)
					{
						background: url(../images/rarr.svg) center center no-repeat;
                        background-size: 8px;
						cursor: pointer;
					}
				span
					{
						font-size: 18px;
						font-weight: normal;
						text-align: center;
						z-index: 999;
						color: white;
						line-height: 40px;
					}
            }
	}
}
	.tipBG{
		
        background-image: url("../images/tipBg.png");
		background-position:left top; 
        background-repeat: repeat-x;        
        height:8px;	
	}
	.topTip{
		
        background-image: url("../images/rm-swipebar.svg");
		background-position: center 2px; 
        background-repeat: repeat-y;
        height: 10px;
		width: 36px;
        margin: 2px auto;
	}
}
